/* General */
html {
    scroll-padding-top: 4rem;
}

/* .masthead {
    background-size: cover;
    background-position: right;
    min-height: 70vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
} */

/* Button */
a {
    text-shadow: none;
}

.btn {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

.btn:hover {
    top: -5px;
}

/* Hero Section */
.hero-title {
    font-size: 3rem;
}

.hero-subtitle {
    font-size: 1rem;
}

.hero-price {
    font-size: 1.5rem;
}

/* .color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
} */

/* .testimonials, #reinforcement-stmt, #closing-argument {
    background-color: #FFFFFF;
} */

/* Feature section */
#features {
    background-color: #F3B664;
}

.juice-green {
    transform: rotate(-10deg);
}

/* Feature section */
#benefit, feature-card {
    background-color: #9FBB73;
}

.spacer {
    aspect-ratio: 900/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.orange-wave-1 {
    background-image: url('../img/waves/orange-transition1.svg');
}
.orange-wave-2 {
    background-image: url('../img/waves/orange-transition2.svg');
}
.green-wave-1 {
    background-image: url('../img/waves/green-transition1.svg');
}
.green-wave-2 {
    background-image: url('../img/waves/green-transition2.svg');
}

@media (max-width: 768px) {
    /* .masthead {
        min-height: 45vh;
    } */
    .hero-image {
        height: 300px;
    }
    .hero-title, .hero-subtitle, .hero-price {
        font-size: calc(1.125rem + 3.3vw);
    }
    .juice-green {
        height: 200px;
    }
    .juice-combine {
        height: 200px;
    }
}